<% doc_presenter = show_presenter(document) %>
<%= _artist = nil %>
<%# partial to display solr document fields in catalog show view -%>

<div class="row">
  <!-- images -->
  <div class="col-sm-12 col-md-5 show-image-container">
    <% unless document[:blob_ss].nil? %>
        <div class="show-gallery">
          <% document[:blob_ss].each do |image| %>
            <div class="gallery-item">
              <img src="<%= render_csid(image, 'Medium') %>" class="show-image">
              </img>
            </div>
          <% end %>
        </div>
      <% else %>
       <p>Image not available</p>
    <% end %>
  </div>
  <!-- metadata -->
  <div class="col-sm-12 col-md-6 show-metadata-container">
    <% document_show_fields(document).each do |field_name, field| -%>
      <% unless field_name == "blob_ss" %>
        <% if should_render_show_field? document, field %>
          <div class="show-field-container">
            <div class="field-label blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></div>
            <% if field_name == 'objectproductionperson_ss'%>
                <% _artist = doc_presenter.field_value field %>
                <% _artist_links = make_artist_search_links(_artist) %>
                <div class="field-value blacklight-<%= field_name.parameterize %>">
                  <%= _artist_links %>
                </div>
            <% else %>
              <div class="field-value blacklight-<%= field_name.parameterize %>"><%= doc_presenter.field_value field %></div>
            <% end %>
          </div>
       <% end %>
      <% end %>
    <% end %>
    <% if doc_presenter.document['nagprastatement_s'] %>
      <div class="mt-4">
      <% _nagprastatement_s = doc_presenter.document['nagprastatement_s'] %>
        <b><i><%= raw _nagprastatement_s %></i></b>
      </div>
    <% end %>
    <% if doc_presenter.document['ondisplay_s'] %>
      <% _ondisplay_s = doc_presenter.document['ondisplay_s'] %>
      <% _ondisplaylocation_s = doc_presenter.document['ondisplaylocation_s'] %>
      <div class="mt-4">
        <b>Currently on display in
        <a href="/?f[ondisplay_s][]=<%= _ondisplay_s %>">the <%= _ondisplay_s %></a></b>
      </div>
    <% end %>
  </div>
  <div id="feedback" class="col-sm-12 col-md-11 feedback">
    <% _idnumber_s = doc_presenter.document['id'] %>
    <% _objectnumber_s = doc_presenter.document['objectnumber_s'] %>
    <% _objectname_ss = '' %>
    <% if doc_presenter.document['objectname_ss'] %>
      <% _objectname_ss = doc_presenter.document['objectname_ss'].join(', ') %>
    <% end %>
    <% _object_url = "https://portal.museumca.org/catalog/" + _idnumber_s %>
    The examination and research of objects within OMCA’s collection is ongoing.
    If you have comments, additional information, or questions about this object record, we welcome your feedback.
    <a href="mailto:onlinecollection@museumca.org?subject=About object <%= _objectnumber_s %>:
    <%= _objectname_ss %>&body=Regarding: <%= _object_url %>">Please send us a note.</a>
  </div>
</div>

<% unless _artist.nil? %>
  <div class="row show-preview-container">
    <%= generate_artist_preview(_artist) %>
  </div>
<% end %>
